<!DOCTYPE html>
<html lang="pt-BR">
<html xmlns:th="http://www.thymeleaf.org">

</html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Meu Blog Pessoal</title>
</head>

<body class="bg-dark text-light">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

  <div th:replace="fragments/navbar :: navbar"></div>

  <h1>All Blogs</h1>

  <ul>
    <li th:each="post : ${posts}">
      <a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a>
    </li>
  </ul>
</body>
</html>
